.container {
  /*Es el conjunto de todo*/
  background-image: url(./imagenes/imagen_final_fondo.jpg);
  background-size: cover;
  margin: 20px;
}
.boxTwo {
  display: flex;
}
.list {
  list-style: none;

  /*Este es el contenedor grande de peliculas*/

  /* border: solid blue 10px;
  color: blue; */
}
.favoriteList {
  /*Son las peliculas señaladas individualmente*/
  list-style: none;

  /* color: black;
  border: solid greenyellow 10px; */
}
.titleFavorite {
  font-weight: bold;
  font-size: 50px;
  border-bottom: thin dashed;
}
.toggle {
  background-color: rgb(86, 152, 214);
}
.second {
  order: -1;
  width: 50%vw;
}
.btn {
  text-transform: initial;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(86, 152, 214);
  color: black;
  border: black dotted;
  height: 50px;
  width: 200px;
}
.btn:hover {
  box-shadow: 0px 0px 50px 0px #280f95;
}
.btnReset {
  border: black dotted;
  font-size: 30px;
  text-transform: initial;
  font-weight: bold;
  background-color: rgb(86, 152, 214);
  color: black;
  height: 50px;
  width: 200px;
}
.btnReset:hover {
  box-shadow: 0px 0px 50px 0px #280f95;
}
.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: initial;
  font-weight: bold;
  font-size: 50px;
  color: black;
  margin-bottom: 50px;
  margin-top: 50px;
}
